.barContainer{
    display: flex;
    height: 70vmin;
}
.bar{
    background-color: lightblue;
  border-radius: 0.5em;
}
/* .split-left{
  border-right: 10% solid black;
}
.split-right{
  border-left: 10% solid black;
} */
.left{
  background-color:lightgreen;
}

.right{
  background-color: lightpink;
}

.compare{
  background-color: yellow;
}

.chosen{
  background-color: green;
}
.sorted{
  background-color: purple;
}