
.grid {
  font-size: 0;
  text-align: center;
  background-color: white;
}
.node {
  text-align: center;

  box-shadow: 0 0 1px 1px rgb(56, 179, 76);
  display: inline-block;
  border-radius: 5%;
  background-color: white;
}
@media (orientation: landscape) {
  .node {
    width: 2.43902439024vmax;
    height: 2.43902439024vmax;
  }
}
@media (orientation: portrait) {
  .node {
    width: 2.43902439024vmin;
    height: 2.43902439024vmin;
  }
}
.wall {
  background-color: rgb(56, 179, 76);

  box-shadow: 0;
  animation: wall 0.1s;
}
@keyframes wall {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.open {
  background-color: lightskyblue;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms ease-in;
  box-shadow: none;
  box-shadow: 0 0 1px 1px lightblue;
}
.open-done {
  background-color: lightskyblue;
}
.current{
  background-color: orange;
  box-shadow: 0 0 1px 1px orange;
}
.closed {
  background-color: black;
}
.path {
  background-color: orange;
  outline: 0;
  -webkit-transition: 0;
  -ms-transition: 0;
  transition: 0;
  box-shadow: 0 0 1px 1px orange;
  animation: path 0.1s;
}
.wipe {
  background-color: white;
  transition: background-color 300ms ease-in;
  animation: wipe 0.3s
}
@keyframes wipe{
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.30);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes path {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.end {
  background-color: red;
  box-shadow: 0 0 1px 1px red;
}
.start {
  background-color: green;
  box-shadow: 0 0 1px 1px green;
}

.noPath {
  background-color: purple;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

